{% extends 'index.html' %}

{% block content %}
    <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
        <form method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
            {% csrf_token %}

            {% for field in form %}
                <div class="row gy-4">
                    <label class="form-label col-md-4 text-md-end" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    <div class="col-md-8">
                        {{ field }}
                        <div class="form-error">{{ field.errors }}</div>
                    </div>
                </div>
            {% endfor %}

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
{% endblock %}