<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>new arrivals</h4>
          <h2>sixteen products</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filters">
          <ul>
            <li class="active" data-filter="*"><a href="{% url 'shop:products' %}">All Products</a></li>
            {% for catalog in catalogs %}
              <li data-filter=".{{ catalog.slug }}">
                <a href="{% if catalog.slug %}{% url 'shop:products' catalog.slug %}{% endif %}">{{ catalog.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      {% for product in products %}
        <div class="col-lg-4 col-md-4 all {{ product.catalog.slug }}">
          <div class="product-item">
            <a href="#"><img src="{{ product.photo.url }}" alt=""></a>
            <div class="down-content">
              <a href="#"><h4>{{ product.title }}</h4></a>
              <h6>${{ product.price }}</h6>
              <p>{{ product.description }}</p>
              <ul class="stars">
                {% for _ in product.stars %}
                  <li><i class="fa fa-star"></i></li>
                {% endfor %}
              </ul>
              <span>Reviews ({{ product.reviews }})</span>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buyModal{{ product.id }}">
                Purchase {{ product.title }}
              </button>
              <div class="modal fade" id="buyModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel{{ product.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="purchase-button">
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buyModal{{ product.id }}">
                              Відміна{{ product.title }}
                          </button>
                      </div>
                      {% include "purchase.html" %}
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>                                               