<!--Reviews-->
<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Latest Products</h2>
          <a href= {% url "shop:products"%}>view all products <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <div class="latest-products">
        <div class="container">
          <div class="row">
            {% for product in products %}
              <div class="col-md-4">
                <div class="product-item">
                  <a href="#"><img src="{{ product.photo.url }}" alt="{{ product.title }}"></a>
                  <div class="down-content">
                    <a href="#"><h4>{{ product.title }}</h4></a>
                    <h6>${{ product.price }}</h6>
                    <p>{{ product.description }}</p>
                    <!-- Додайте код для виведення рейтингу, відгуків тощо. -->
                  </div>
                </div>
              </div>
            {%endfor%}
        </div>
      </div>